<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation debug="true" />
    </system.web>
    <appSettings>
        <add key="Server" value="JHBHO-TMALESA3" />
        <add key="Application" value="Codebox" />
        <add key="Enviroment" value="Test" />
        <add key="Name" value="Godspeed" />
        <add key="Password" value="tr3visRT360#" />
    </appSettings>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Headers" value="Content-Type, Accept, x-auth-token, x-client-auth-token,Authorization, x-application-domain, x-entityapplicationid, x-entityapplicationalternateid, x-baseurl, x-loggedinuser, x-temssotoken, x-usagessotoken, Cache-Control, X-Requested-With" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
